* {
	margin: 0;
	padding: 0;
}

body {
	display: grid;
}

header {
	display: grid;
}

#bgImgContainer {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	max-height: 270px;
}

#bgImg {
	width: 100%;
	height: 100%;
}

#headerContainer {
	display: flex;
	padding: 1% 10% 0% 10%;
}

#profileImgContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-right: 7%;
}

#profileImg {
	width: 100px;
	height: 100px;
	border-radius: 70%;
}

#title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
	padding-right: 40%;
	width: 400px;
}

#titleName {
	font-size: 2rem;
}

#subtitleName {
	font-size: 1.2rem;
}

#contactButtonContainer {
	border: 1px solid red;
}

#contactButton {
	font-size: 1rem;
	background-image: linear-gradient(to top, #6af071 0%, #26bb26 100%);
	padding: 14px 50px;
	border: none;
	border-radius: 4px;
	color: #fff;
	margin: 1.8rem 0;
	cursor: pointer;
	position: relative;
	transition: all 0.35s;
	outline: none;
}

#contactButton a {
	position: relative;
	z-index: 2;
	color: #fff;
	text-decoration: none;
}

#contactButton:after {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: #0a9ee2;
	transition: all 0.35s;
	border-radius: 4px;
}

#contactButton:hover {
	color: #fff;
}

#contactButton:hover:after {
	width: 100%;
}

#navbar {
	padding: 0 10%;
	display: flex;
	justify-content: space-between;
}

.navbarTab a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
	color: rgb(97, 97, 97);
	text-decoration: none;
}

.navbarTab {
	font-size: 1.2rem;
	padding: 1.5% 8% 1.2% 8%;
}

.activeTab {
	border-bottom: 3px solid rgb(43, 43, 43);
}

#content {
	padding: 2% 10%;
	background-color: rgb(240, 240, 240);
}

footer {
	background-color: red;
	color: white;
}
